.playerContainer:hover + div,
.circle:hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  position: relative;
}

.circle {
  height: 100px;
  width: 100px;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2%;
  box-shadow: 0 0 50px #fff;
  color: #fff;
  border-radius: 50%;
}

.circle div iframe {
  border-radius: 50%;
}
